.div1 {
  padding: 15px; /* JUST TO LOOK COOL */
  background-color: #FFFFFF;
   border-radius: 12px;
  /* JUST TO LOOK COOL */
  box-shadow: rgba(0, 0, 0, 0.06) 110px 216px 204px;
  transition: all .3s ease-in-out;
}

.div1:hover {
box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
transform: translate3d(0px, -1px, 0px);
}
.geek2 {

            height: 170px;
            width: 100%;


        }
.geek3 {


                    width: 120%;
                    float: left;

                }